<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target xsi:type="ColoredConsole"
                name="String"
                encoding="Encoding"
                layout="Layout"
                header="Layout"
                footer="Layout"
                useDefaultRowHighlightingRules="Boolean"
                errorStream="Boolean"
                enableAnsiOutput="Boolean"
                detectConsoleAvailable="Boolean"
                detectOutputRedirected="Boolean">
            <highlight-row condition="Condition" backgroundColor="Enum" foregroundColor="Enum"/><!-- repeated -->
            <highlight-word text="String" condition="Condition" backgroundColor="Enum" foregroundColor="Enum"
                            ignoreCase="Boolean" regex="String" wholeWords="Boolean" compileRegex="Boolean"/><!-- repeated -->
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
    </rules>
</nlog>